
<div class="card">
  <div class="card-header">
  <h1>New friend</h1>
</div>
<br />

<div class="card-body">
<%= render "form", friend: @friend %>

<br>
</div>
</div>
<br>
<div>
  <%= link_to "Back", friends_path %>
</div>

